<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  width="100%"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="50">
      <img
        src="../assets/new.jpg"
        class="d-block w-100"
        alt="..."
        height="650px"
        width=""
      />%
      <div class="carousel-caption d-none d-md-block">
        <h5>
          <button class="btn btn-primary" type="submit">BE THE MEMBER</button>
        </h5>
        <p>“When you hit failure, your workout has just begun.”</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="50">
      <img
        src="../assets/row.jpg"
        class="d-block w-100"
        alt="..."
        height="650px"
        width="100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p>
          “When you have a clear vision of your goal, it's easier to take the
          first step toward it.”
        </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="50">
      <img
        src="../assets/website.jpg"
        class="d-block w-100"
        alt="..."
        height="650px"
        width="100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p>“Push harder than yesterday if you want a different tomorrow.”</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
