<div class="categories">
    <div>
        <img src="../assets/cate.jpg" alt="" width="300px" height="300px">
        <h5>WORKOUTS FOR MEN</h5>
    </div>
    <div>
        <img src="../assets/cate1.jpg" alt="" width="300px" height="300px">
        <h5>WORKOUTS FOR WOMEN</h5>
    </div>
    <div>
        <img src="../assets/cate2.jpg" alt="" width="300px" height="300px">
        <h5>INCREASE IN STRENTH</h5>
    </div>
    <div>
        <img src="../assets/cate3.jpg" alt="" width="300px" height="300px">
        <h5>BACK WORKOUTS</h5>
    </div>
</div>
