<div class="categories">
  <div>
    <img src="../assets/cate4.jpg" alt="" width="300px" height="300px" />
    <h5>TRICEPS WORKOUTS</h5>
  </div>
  <div>
    <img src="../assets/cate5.jpg" alt="" width="300px" height="300px" />
    <h5>SHOULDER WORKOUTS</h5>
  </div>
  <div>
    <img src="../assets/cate6.jpg" alt="" width="300px" height="300px" />
    <h5>CARDIO</h5>
  </div>
  <div>
    <img src="../assets/cate7.jpg" alt="" width="300px" height="300px" />
    <h5>ABS WORKOUT</h5>
  </div>
</div>
