<div class="images"></div>
<div class="heading"></div>
<div class="categories">
  <div>
    <img src="../assets/back.jpg" alt="" width="300px" height="300px" />
    <h5>BODYWEIGHTWORKOUTS</h5>
  </div>
  <div>
    <img src="../assets/cate8.jpg" alt="" width="300px" height="300px" />
    <h5>YOGA</h5>
  </div>
  <div>
    <img src="../assets/cate9.jpg" alt="" width="300px" height="300px" />
    <h5>BICEP WORKOUTS</h5>
  </div>
  <div>
    <img src="../assets/cate10.jpg" alt="" width="300px" height="300px" />
    <h5>LEGS WORKOUTS</h5>
  </div>
</div>
