<div class="container">
    <h2 class="title">
      <span class="title-word title-word-1">WORKOUT  </span>
      <span class="title-word title-word-2">CATEGORIES</span>
      <span class="title-word title-word-3"></span>
      <span class="title-word title-word-4"></span>
    </h2>
  </div>
  <div class="new">Choose a category that best suits the workout you're searching for. <br>Once in the category, use the sort and filter
    options to find the right workout for your experience and goals.</div>